<!DOCTYPE html>
<html>

<head>
    <%- include('../layouts/headLayout', {}) %>
        <link rel="stylesheet" type="text/css" href="/css/mall/mall.css" />
</head>

<body>
    <div class="reader-download">
        <div class="w1200pxAuto">
            <div class="reader-download-header clearfix">
                <a class="reader-download-logo" href="/home">
                    <img src="/images/mall/mall_logo1.png" alt="">
                </a>
                <div class="reader-download-slogan">
                    <img src="/images/mall/mall_slogan1.png" alt="">
                </div>
            </div>
            <div class="reader-download-main">
                <div class="reader-download-title">下载阅读器</div>
                <div class="reader-download-text">在线阅读或下载阅读整本期刊/图书/文章等出版物，请先安装最新版CAJViewer 阅读器——
                </div>
                <div class="reader-download-content clearfix">
                    <span class="reader-download-icon">CAJViewer</span>
                    <a class="reader-download-btn" href="http://viewer.d.cnki.net/CAJViewer%207.2.0.117.self.exe"></a>
                </div>
                <div class="reader-download-tip">温馨提示：中国知网老用户须先卸载已安装的旧版CAJViewer阅读器，再下载 安装最新版阅读器。
                </div>
                <div class="reader-download-qrcode">
                    <div class="reader-download-qrcode-title">
                        <span>手机阅读，请扫码下载客户端</span>
                    </div>
                    <div class="reader-download-qrcode-img">
                        <img src="/images/bookstore/bookstore23.png" alt="">
                    </div>
                    <div class="reader-download-qrcode-name">-iOS/Android-</div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>