<div class="collectionPopWrap">
    <div class="collectionPop">
        <div class="w">
            <div class="c">收藏作品，请先登录</div>
            <div class="b">
                <a href="/temp/userCenter/login" class="b1">去登录</a>
                <a href="javascript:;" class="b2">取消</a>
            </div>
        </div>
    </div>
</div>

<style type="text/css">
    .collectionPopWrap { display: none;}
    .collectionPop {}
    .collectionPop .w { width:274px; height:175px; font-family: 微软雅黑; text-align: center; }
    .collectionPop .w .c { font-size: 16px; font-weight: bold; padding:54px 0 40px 0;}
    .collectionPop .w .b { font-size: 14px; width:208px; height:32px; margin: 0 auto;}
    .collectionPop .w .b a { float: left; width:95px; height:32px; line-height:32px;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        border-radius: 16px;}
    .collectionPop .w .b .b1 { color: #fff; background-color:#fa6e55;}
    .collectionPop .w .b .b2 { color: #666666; background-color:#dcdcdc; float:right;}
</style>
