<!DOCTYPE html>
<html>

<head>
    <%- include('./layouts/headLayout', {}) %>
    <link rel="stylesheet" type="text/css" href="/css/newpublic.css" />
    <link rel="stylesheet" type="text/css" href="/css/common.css" />
</head>

<body bgcolor="#f7f7f7">
    <%- include('layouts/navLayout', {current: null, enterControl:1}) %>
    <div class="aboutus">
        <div class="w1200pxAuto">
            <div class="aboutus-header">关于知网文化</div>
            <div class="aboutus-main clearfix">
                <div class="aboutus-left left">
                    <img src="/images/common/aboutus-bg.jpg" alt="">
                </div>
                <div class="aboutus-right left">
                    <div class="aboutus-item">
                        <h2>关于知网文化</h2>
                        <p>知网文化是中国知网出品的精品文化出版传播平台，平台集成化网络出版、系统化深度整合大众精品期刊、图书、工具书、报纸、音频、视频、图片、文献等优质文化知识资源，以“鼓舞人、培育人、塑造人”为宗旨，为读者提供纯净、高品质文化知识资源的阅读、欣赏、学习与交流空间。</p>
                        <p>知网文化，以新视角、新形态、新体验、新模式传承和发扬中华优秀文化、传播和发展时代先进文化，精选、汇集文学、艺术、思想、文化、历史、人物、军事、财富、职场、生活等优质知识资源，让读者流连其间、沉浸其中，感受“一杯茶、一本书、一张椅、一抹阳光”的美好。</p>
                        <p>从现在起，搭乘知网文化之舟、尽览精品文化之海，品味古今、增长智慧、启迪思想、温润心灵、陶冶人生！</p>
                    </div>
                    <div class="aboutus-item">
                        <h2>平台特色</h2>
                        <p>1、精致阅读：内容严选精编，享受精致阅读时光。</p>
                        <p>2、万选书城：精选万种书刊，阅读有选择、不随便。</p>
                        <p>3、精品文献库：集成化出版、系统化整合文化知识资源。</p>
                        <p>4、特色微型电子刊：丰富的媒体类型，浓缩的知识精华。</p>
                        <p>5、出版传播服务：提供全媒体立体出版与整合传播服务。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('./layouts/footerLayout', {}) %>
</body>

</html>