<!DOCTYPE html>
<html>

<head>
    <%- include('./layouts/headLayout', {}) %>
    <meta name="keywords" content="知网文化app下载,知网文化客户端下载,知网文化苹果版,知网文化安卓版,知网文化andriod版下载,知网文化ios版下载,知网文化手机版">
    <meta name="description" content="知网文化是中国知网出品的精品文化出版传播平台，平台集成化网络出版、系统化深度整合大众精品期刊、图书、工具书、报纸、音频、视频、图片、文献等优质文化知识资源，以“鼓舞人、培育人、塑造人”为宗旨，为读者提供纯净、高品质文化知识资源的阅读、欣赏、学习与交流空间。">
        <link rel="stylesheet" type="text/css" href="/css/newpublic.css" />
        <link rel="stylesheet" type="text/css" href="/css/appdownload.css" />
</head>

<body bgcolor="#EBEFF5">
    <div class="container">
        <div class="section section1">
            <div class="nav clearfix">
                <a href="../" class="logo"></a>
                <a href="../" class="nav-item">< 返回首页</a>
            </div>
        </div>
        <div class="section section2">
        </div>
        <div class="section section3">
        </div>
        <div class="section section4">
        </div>
        <div class="section section5">
        </div>
        <div class="section section6">
            <div class="subnav clearfix">
                <div class="item">
                    <div class="scan" style="left:-52px;">
                        <img src="/images/appdownload/wx.png" alt="">
                    </div>
                </div>
                <a target="_blank" href="https://weibo.com/u/7437241000" class="item item-weibo">
                </a>
                <div class="item">
                    <div class="scan">
                        <img src="/images/appdownload/ks.png" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="scan">
                        <img src="/images/appdownload/dy.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('./layouts/footerLayout', {}) %>
</body>
</html>