
.section {
  width: 1200px;
  margin: 0 auto 33px;
  background: #fff;
  box-shadow: 5px 5px 5px rgba(236, 240, 246, 0.6);
  overflow: hidden;
}
.bookhome-banner {
  position: relative;
  height: 400px;
  margin-bottom: 36px;
}
.bannerArea {
  position: relative;
  width: 100%;
  height: 400px;
  z-index: 10;
}
.bannerArea .slideList {
  position: relative;
  height: 100%;
}
.bannerArea .slide {
  width: 100%;
  height: 100%;
}
.bannerArea .slide a {
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.bannerArea .slidePager {
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 14px;
  z-index: 200;
  text-indent: -9999px;
}
.bannerArea .slidePager span {
  float: left;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 0 6px;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
.bannerArea .slidePager .cycle-pager-active {
  background: #ffffff;
}
.bookhome-category {
  position: absolute;
  left: 50%;
  margin-left:423px;
  top: 0;
  width: 180px;
  height: 400px;
  background-color: #fff;
  font-family: 'MicrosoftYaHei';
  z-index:10;
}
.bookhome-category-title {
  width: 180px;
  height: 42px;
  line-height: 42px;
  background-color: #a28374;
  font-size: 16px;
  color: #fff;
  text-align: center;
}
.bookhome-category-body {
  border: solid 1px #d5cdc8;
  border-top: 2px solid #fff;
}
.bookhome-category-item {
  float: left;
  width: 88px;
  height: 69px;
  border: 1px solid #f8f3eb;
  margin-left: -1px;
  font-size: 14px;
  color: #6d3c24;
  text-align: center;
}
.bookhome-category-item img {
  display: block;
  margin: 0 auto;
}
.bookhome-category-item:hover {
  border-color: #f8cec1;
  background-color: #fdd4cd;
}
.s1-recommend {
  float: left;
  width: 834px;
  padding: 0 25px;
  background-color: #fff;
  box-shadow: 3px 4px 5px 0px rgba(220, 225, 232, 0.5);
}
.s1-recommend-title {
  float: left;
  margin: 22px 0 11px 8px;
  font-size: 24px;
  color: #b76650;
  font-weight: bold;
}
.s1-recommend-body img {
  display: block;
}
.s1-recommend-more {
  float: right;
  margin: 33px 15px 0 0;
  font-size: 14px;
  color: #2481f3;
}
.s1-recommend-first {
  height: 270px;
  margin-bottom: 33px;
  background: url(../../images/mall/mallbook_bg01.png) repeat-x;
}
.s1-recommend-first-img {
  float: left;
  width: 165px;
  height: 221px;
  margin: 25px 30px 0 40px;
}
.s1-recommend-first-info {
  float: left;
  width: 567px;
  margin-left: 30px;
}
.s1-recommend-first-title {
  margin: 34px 0 12px 0;
  font-size: 14px;
  color: #1e1e1e;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.s1-recommend-first-title span {
  font-size: 16px;
  font-weight: bold;
}
.s1-recommend-first-author {
  margin: 12px 0 19px 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #b5b5b5;
}
/* .s1-recommend-first-author span {
  color: #5495f5;
} */
.s1-recommend-first-intro {
  position: relative;
  width: 519px;
  height: 115px;
  padding: 13px 14px;
  background-color: #fff;
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.08);
  border: solid 1px #a6c5d4;
  border-radius: 10px;
  font-size: 14px;
  line-height: 28px;
  color: #7f4b32;
  overflow: hidden;
}
.s1-recommend-first-intro .text{
  height: 115px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;
  -webkit-line-clamp: 4;
  -moz-line-clamp: 4;
  -ms-line-clamp: 4;
  -o-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
}
.s1-recommend-first-intro .triangle {
  position: absolute;
  bottom: 0;
  left: -20px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #a6c5d4;
}
.s1-recommend-first-intro .triangle:after {
  content: '';
  position: absolute;
  left: -18px;
  top: 2px;
  width: 4px;
  height: 0;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-bottom: 18px solid #fff;
}
.s1-recommend-items {
  margin-right: -32px;
}
.s1-recommend-item {
  float: left;
  width: 141px;
  margin-right: 32px;
}
.s1-recommend-item-img {
  display: block;
}
.s1-recommend-item-title {
  line-height: 1;
  margin: 13px 0 11px 0;
  font-size: 14px;
  color: #1e1e1e;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.s1-recommend-item-author {
  margin-bottom: 22px;
  color: #868686;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.s1-rank {
  float: right;
  width: 270px;
  padding: 0 21px;
}
.s1-rank-header {
  height: 28px;
  padding: 21px 0 11px;
  border-bottom: 3px solid #e74b3c;
}
.s1-rank-title {
  float: left;
  padding-left: 32px;
  background: url(../../images/mall/mallbook_icon11.png) no-repeat left center;
  font-size: 18px;
  color: #db3e47;
  font-weight: bold;
}
.s1-rank-more {
  float: right;
  margin-top: 8px;
  font-size: 14px;
  color: #2481f3;
}
.s1-rank-body {
    border: 1px solid #eaeaea;
    border-top: 0;
}
.s1-rank-tab-item {
  float: left;
  width: 66px;
  height: 31px;
  line-height: 31px;
  border: 1px solid #eaeaea;
  margin-left: -1px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}
.s1-rank-tab-item.active {
  border-bottom-color: #fff;
  font-weight: bold;
  color: #129e7f;
}
.s1-rank-items {
  padding: 0 12px;
}
.s1-rank-item {
  line-height: 36px;
  padding-left: 7px;
  border-bottom: 1px dotted #d8d8d8;
  font-size: 14px;
}
.s1-rank-item-number {
  float: left;
  width: 28px;
  font-size: 16px;
}
.s1-rank-item-title{
  float: left;
  width: 208px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.s1-rank-item-detail{
  float: left;
  display: none;
}
.s1-rank-item.active .s1-rank-item-detail{
  display:block;
  padding-top: 20px;
  padding-bottom: 17px;
}
.s1-rank-item.active .s1-rank-item-title{
  display:none;
}
.s1-rank-item.active .s1-rank-item-number{
  margin-top:15px;
}
.s1-rank-detail-img {
  float: left;
  height: 126px;
  margin-right: 10px;
}
.s1-rank-detail-info {
  float: left;
  width: 110px;
  line-height: 1;
}
.s1-rank-detail-title {
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.s1-rank-detail-author {
  color: #828282;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.s2 {
  width: 1140px;
  padding: 20px 35px 22px 25px;
}
.s2-new-header {
  position: relative;
  height: 38px;
  margin-left: 41px;
  border-bottom: 2px solid #fff6e5;
}
.s2-new-title {
  position: absolute;
  left: -41px;
  top: 0;
}
.s2-header-more {
  float: right;
  margin-top: 15px;
  font-size: 14px;
  color: #2481f3;
}
.s2-new-body {
  margin-right: -56px;
}
.s2-new-item {
  float: left;
  width: 141px;
  margin: 22px 56px 32px 0;
}
.s2-new-item-img {
  display: block;
}
.s2-new-item-title {
  margin: 13px 0;
  font-size: 14px;
  color: #1e1e1e;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.s2-new-item-author {
  color: #868686;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.s3 {
  padding-bottom: 30px;
}
.s3-item {
  float: left;
  width: 548px;
  padding-left: 22px;
  margin: 0 13px;
}
.s3-header {
  padding-right: 17px;
}
.s3-title {
  float: left;
  line-height: 1;
  padding: 23px 0 14px 0;
  color: #000;
  font-size: 22px;
}
.s3-header-more {
  float: right;
  margin-top: 33px;
}
.s3-body a {
  float: left;
  margin: 0 20px 15px 0;
}
.s3-body a img {
  display: block;
  width: 253px;
  height: 98px;
}
.s4 {
  width: 1145px;
  padding: 25px 30px 16px 23px;
}
.s4 .inner {
  margin-right: -56px;
}
.s4-module {
  display: none;
  float: left;
  width: 548px;
  margin-bottom: 46px;
  margin-right: 52px;
}
.s4-module-header {
  height: 48px;
  border-bottom: 3px solid #daa63b;
}
.s4-module2 .s4-module-header {
  border-color: #57be97;
}
.s4-module3 .s4-module-header {
  border-color: #7a93d3;
}
.s4-module4 .s4-module-header {
  border-color: #e06e28;
}
.s4-module-title {
  float: left;
  width: 247px;
  line-height: 48px;
  background-color: #daa63b;
  border-radius: 5px 5px 0px 0px;
  text-align: center;
  font-size: 22px;
  color: #fff;
}
.s4-module2 .s4-module-title {
  background-color: #57be97;
}
.s4-module3 .s4-module-title {
  background-color: #7a93d3;
}
.s4-module4 .s4-module-title {
  background-color: #e06e28;
}
.s4-header-more {
  float: right;
  margin-top: 25px;
  color: #ad7400;
  cursor: pointer;
}
.s4-module2 .s4-header-more {
  color: #57be97;
}
.s4-module3 .s4-header-more {
  color: #7a93d3;
}
.s4-module4 .s4-header-more {
  color: #e06e28;
}
.s4-module-body {
  background: url(../../images/mall/mallbook_bg03.png) repeat-x;
}
.s4-module2 .s4-module-body {
  background-image: url(../../images/mall/mallbook_bg04.png);
}
.s4-module3 .s4-module-body {
  background-image: url(../../images/mall/mallbook_bg05.png);
}
.s4-module4 .s4-module-body {
  background-image: url(../../images/mall/mallbook_bg06.png);
}
.s4-module-item-first {
  float: left;
  width: 247px;
}
.s4-module-first-img {
  width: 200px;
  height: 241px;
  margin: 67px auto 0;
  background: url(../../images/mall/mallbook_bg02.png) no-repeat center bottom;
}
.s4-module-first-img img {
  display: block;
  border-radius: 4px;
  border: solid 1px #fff;
  margin: 0 auto;
}
.s4-module-first-title {
  margin: 9px 0 9px 46px;
  font-size: 14px;
}
.s4-module-first-author {
  margin-left: 46px;
  color: #868686;
}
.s4-module-items {
  float: left;
  width: 300px;
}
.s4-module-item {
  float: left;
  width: 102px;
  height: 212px;
  padding: 20px 23px 0;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  font-size: 14px;
}
.s4-module-item-img {
  display: block;
}
.s4-module-item-img img {
  display: block;
  border-radius: 4px;
  border: solid 1px #ebebeb;
}
.s4-module-item-title {
  margin: 8px 0  8px 4px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.s4-module-item-author {
  margin-left: 4px;
  color: #868686;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
