.newbox {
  float: left;
  margin-top: 5px;
}
.zc_anw {
  float: left;
}
#ifcheck {
  margin: 0px;
  padding: 0px;
  float: left;
  margin-top: -7px;
}
#lione div {
  padding-left: 162px;
  color: Red;
}
#addone b,
#addtwo b,
#addthr b {
  padding-right: 9px;
}
.zc_num p {
  text-align: right;
  width: 95%;
}
.tc_tda input {
  float: left;
  padding: 0px;
  margin: 0px;
}
.pj_con {
  WIDTH: 1002px;
  POSITION: relative;
  margin-left: -170px;
}
.tc_obd {
  width: 748px;
  position: absolute;
  z-index: 100;
  top: 0px;
  left: 0px;
}
.tc_oa {
  height: 220px;
  width: 664px;
  position: absolute;
  background: #97ABC5;
  left: 4px;
  top: 5px;
}
.tc_ob {
  height: 200px;
  width: 642px;
  position: absolute;
  background: #DAEAFF;
  border: 1px solid #4F88D7;
  z-index: 100;
  padding: 10px;
}
.tc_ubin {
  height: 180px;
  width: 628px;
  padding: 10px 6px 0px 6px;
  border: 1px solid #BBBBBC;
  background: #fff;
  float: left;
}
.tc_ubin p {
  text-align: right;
  font-size: 14px;
  font-weight: bold;
  padding: 12px 0px 0px 0px;
  float: right;
  width: 530px;
  width: 600px;
  text-align: center;
}
.tc_ubin p b {
  color: red;
}
.tcb_wd {
  width: 95%;
  line-height: 18px;
  border-top: 1px dashed #ccc;
  margin-top: 0px;
  padding: 5px 0px;
  padding-left: 5%;
}
.tcb_wd a {
  color: #0000FF;
  margin: 0px 2px;
  text-decoration: underline;
}
.zc_new {
  FONT-WEIGHT: bold;
  FLOAT: left;
  MARGIN: 5px -70px 0px 10px;
  WIDTH: 12em;
  COLOR: #000099;
}
.zc_bdnew {
  PADDING-RIGHT: 0px;
  PADDING-LEFT: 40px;
  PADDING-BOTTOM: 0px;
  WIDTH: 930px;
  PADDING-TOP: 15px;
}
BODY {
  FONT-SIZE: 12px;
  MARGIN: 0px auto;
  WIDTH: 1002px;
}
P {
  PADDING-RIGHT: 0px;
  PADDING-LEFT: 0px;
  PADDING-BOTTOM: 0px;
  MARGIN: 0px;
  PADDING-TOP: 0px;
}
SPAN {
  PADDING-RIGHT: 0px;
  PADDING-LEFT: 0px;
  PADDING-BOTTOM: 0px;
  MARGIN: 0px;
  PADDING-TOP: 0px;
}
H1 {
  PADDING-RIGHT: 0px;
  PADDING-LEFT: 0px;
  PADDING-BOTTOM: 0px;
  MARGIN: 0px;
  PADDING-TOP: 0px;
}
UL {
  PADDING-RIGHT: 0px;
  PADDING-LEFT: 0px;
  PADDING-BOTTOM: 0px;
  MARGIN: 0px;
  PADDING-TOP: 0px;
}
H3 {
  PADDING-RIGHT: 0px;
  PADDING-LEFT: 0px;
  PADDING-BOTTOM: 0px;
  MARGIN: 0px;
  PADDING-TOP: 0px;
}
B {
  PADDING-RIGHT: 0px;
  PADDING-LEFT: 0px;
  PADDING-BOTTOM: 0px;
  MARGIN: 0px;
  PADDING-TOP: 0px;
}
A {
  TEXT-DECORATION: none;
}
LI {
  LIST-STYLE-TYPE: none;
}
UL {
  FLOAT: left;
}
A:hover {
  TEXT-DECORATION: underline;
}
IMG {
  BORDER-TOP-WIDTH: 0px;
  BORDER-LEFT-WIDTH: 0px;
  BORDER-BOTTOM-WIDTH: 0px;
  BORDER-RIGHT-WIDTH: 0px;
}
.zc_lj {
  PADDING-RIGHT: 0px;
  PADDING-LEFT: 0px;
  PADDING-BOTTOM: 4px;
  WIDTH: 100%;
  PADDING-TOP: 7px;
  BORDER-BOTTOM: #afafaf 1px dashed;
}
.zc_lj A {
  COLOR: #000099;
  TEXT-DECORATION: underline;
}
.zc_lj B {
  PADDING-LEFT: 25px;
}
.zc_bd {
  PADDING-RIGHT: 0px;
  PADDING-LEFT: 78px;
  PADDING-BOTTOM: 0px;
  WIDTH: 870px;
  PADDING-TOP: 15px;
}
.zc_tlt {
  PADDING-LEFT: 10%;
  FLOAT: left;
  WIDTH: 90%;
  BORDER-BOTTOM: #0a6cd2 2px solid;
}
.zc_tlt H1 {
  FONT-SIZE: 13px;
  BACKGROUND: url(../images/002.jpg) repeat-x 50% top;
  FLOAT: left;
  COLOR: #fff;
  MARGIN-RIGHT: 43px;
}
.zc_tlt H1 SPAN {
  BACKGROUND: url(../images/003.jpg) no-repeat left top;
  FLOAT: left;
}
.zc_tlt H1 SPAN B {
  PADDING-RIGHT: 15px;
  PADDING-LEFT: 15px;
  BACKGROUND: url(../images/004.jpg) no-repeat right top;
  FLOAT: left;
  PADDING-BOTTOM: 0px;
  PADDING-TOP: 10px;
  HEIGHT: 19px;
}
.zc_tlt H3 {
  FONT-SIZE: 13px;
  FLOAT: left;
  COLOR: #9c9c9c;
  MARGIN-RIGHT: 43px;
  PADDING-TOP: 10px;
}
.zc_a {
  FLOAT: left;
  WIDTH: 100%;
  COLOR: red;
  LINE-HEIGHT: 22px;
  padding: 10px 0px;
}
.zc_b {
  FLOAT: left;
  WIDTH: 100%;
}
.zc_b LI {
  PADDING-RIGHT: 0px;
  PADDING-LEFT: 0px;
  PADDING-BOTTOM: 2px;
  WIDTH: 100%;
  PADDING-TOP: 2px;
  height: 22px;
}
.zc_b LI B {
  PADDING-RIGHT: 3px;
  PADDING-LEFT: 0px;
  FLOAT: left;
  PADDING-BOTTOM: 0px;
  WIDTH: 175px;
  PADDING-TOP: 5px;
  TEXT-ALIGN: right;
}
.zc_b LI SPAN {
  COLOR: #606060;
  float: left;
  padding-top: 5px;
}
.zc_b LI INPUT {
  MARGIN: 0px 8px 0px 5px;
}
.zc_v {
  FLOAT: left;
  WIDTH: 100%;
}
.zc_v DIV {
  PADDING-RIGHT: 0px;
  PADDING-LEFT: 0px;
  FLOAT: left;
  PADDING-BOTTOM: 2px;
  WIDTH: 100%;
  PADDING-TOP: 2px;
  height: 22px;
}
.zc_v DIV B {
  PADDING-RIGHT: 3px;
  PADDING-LEFT: 0px;
  FLOAT: left;
  PADDING-BOTTOM: 0px;
  WIDTH: 175px;
  PADDING-TOP: 5px;
  TEXT-ALIGN: right;
}
.zc_v DIV SPAN {
  COLOR: #606060;
  float: left;
  padding-top: 5px;
}
.zc_v DIV INPUT {
  MARGIN: 0px 8px 0px 5px;
}
.zc_anw {
  MARGIN: 0px 8px 0px 5px;
}
.zc_anw {
  WIDTH: 152px;
}
.zc_b LI EM {
  FLOAT: left;
  COLOR: red;
  PADDING-TOP: 5px;
  FONT-STYLE: normal;
}
.zc_b LI IMG {
  BORDER-RIGHT: #bfbfbf 1px solid;
  BORDER-TOP: #bfbfbf 1px solid;
  VERTICAL-ALIGN: middle;
  BORDER-LEFT: #bfbfbf 1px solid;
  MARGIN-RIGHT: 6px;
  BORDER-BOTTOM: #bfbfbf 1px solid;
}
.zc_b LI A {
  COLOR: #0008b4;
  TEXT-DECORATION: underline;
}
.zc_gray {
  BACKGROUND: #f7f7f7;
  WIDTH: 100%;
}
.zc_bot {
  CURSOR: pointer;
}
.zc_yy {
  PADDING-RIGHT: 0px;
  PADDING-LEFT: 57px;
  PADDING-BOTTOM: 10px;
  PADDING-TOP: 10px;
  float: left;
}
.zc_line {
  BACKGROUND: url(../images/006.jpg) repeat-x 50% top;
  WIDTH: 100%;
  clear: both;
}
.zc_c {
  PADDING-BOTTOM: 40px;
  WIDTH: 100%;
  TEXT-ALIGN: center;
}
.zc_d {
  FONT-SIZE: 20px;
  FLOAT: left;
  WIDTH: 100%;
  COLOR: #055ab3;
  BORDER-BOTTOM: #0a6cd2 2px solid;
  FONT-FAMILY: "";
  TEXT-ALIGN: center;
}
.zc_xy {
  PADDING-RIGHT: 15px;
  PADDING-LEFT: 15px;
  FLOAT: left;
  PADDING-BOTTOM: 20px;
  LINE-HEIGHT: 20px;
  PADDING-TOP: 10px;
}
.zc_xy P {
  TEXT-INDENT: 2em;
}
.zc_jian {
  CLEAR: both;
  WIDTH: 100%;
  HEIGHT: 20px;
}
.zc_e {
  PADDING-RIGHT: 15px;
  PADDING-LEFT: 125px;
  FLOAT: left;
  PADDING-BOTTOM: 35px;
}
.zc_tda {
  BACKGROUND: #4f88d6;
  WIDTH: 782px;
}
.zc_tda TD {
  BACKGROUND: #fff;
  HEIGHT: 32px;
  TEXT-ALIGN: center;
}
.zc_tda A {
  FONT-WEIGHT: bold;
  COLOR: #0000ff;
  TEXT-DECORATION: underline;
}
.zc_tda A:hover {
  COLOR: #ba0000;
}
.zc_tda SPAN {
  PADDING-LEFT: 15px;
  FLOAT: left;
  PADDING-TOP: 6px;
}
.zc_tda DIV {
  PADDING-LEFT: 10px;
  FLOAT: left;
}
.zc_tdatlt TD {
  FONT-WEIGHT: bold;
  FONT-SIZE: 14px;
  COLOR: #0032a5;
  TEXT-ALIGN: center;
}
.zc_f {
  PADDING-RIGHT: 0px;
  PADDING-LEFT: 0px;
  FONT-WEIGHT: bold;
  FONT-SIZE: 14px;
  BACKGROUND: #e9f1f9;
  FLOAT: left;
  PADDING-BOTTOM: 13px;
  WIDTH: 100%;
  PADDING-TOP: 13px;
  LETTER-SPACING: 1px;
}
.zc_f A {
  COLOR: red;
}
.zc_g {
  PADDING-RIGHT: 0px;
  PADDING-LEFT: 45px;
  FLOAT: left;
  PADDING-BOTTOM: 26px;
  PADDING-TOP: 12px;
}
.zc_ga {
  border: 1px solid #4F88D7;
  width: 780px;
  margin-bottom: 0px;
  border-bottom: 0px;
}
.zc_gtp {
  PADDING-RIGHT: 0px;
  PADDING-LEFT: 0px;
  BACKGROUND: #f9f9f9;
  PADDING-BOTTOM: 15px;
  WIDTH: 100%;
  PADDING-TOP: 15px;
  TEXT-ALIGN: center;
}
.zc_gtp INPUT {
  MARGIN: 0px 5px;
}
.zc_srcb {
  BORDER-RIGHT: #000 1px solid;
  BORDER-TOP: #000 1px solid;
  BORDER-LEFT: #000 1px solid;
  WIDTH: 270px;
  BORDER-BOTTOM: #000 1px solid;
}
.zc_num {
  PADDING-RIGHT: 0px;
  PADDING-LEFT: 15px;
  PADDING-BOTTOM: 4px;
  PADDING-TOP: 10px;
}
.zc_num A {
  COLOR: Blue;
  TEXT-DECORATION: underline;
}
.zc_num B {
  COLOR: Red;
}
.zc_tdb {
  BACKGROUND: #4f88d6;
  WIDTH: 100%;
}
.zc_tdb TD {
  BACKGROUND: #fff;
  TEXT-ALIGN: center;
}
.zc_tdb B {
  COLOR: red;
}
.zc_tdb A {
  COLOR: #0000ff;
}
.zc_tdb SPAN A {
  FONT-WEIGHT: bold;
  COLOR: #000099;
  TEXT-DECORATION: underline;
}
.zc_tdb SPAN A:hover {
  COLOR: #ba0000;
}
.zc_tdb DIV {
  PADDING-RIGHT: 0px;
  PADDING-LEFT: 10px;
  FLOAT: left;
  PADDING-BOTTOM: 15px;
  COLOR: #039;
  PADDING-TOP: 15px;
}
.zc_gb {
  width: 780px;
}
.zc_gbtp {
  PADDING-RIGHT: 0px;
  PADDING-LEFT: 0px;
  PADDING-BOTTOM: 8px;
  WIDTH: 100%;
  PADDING-TOP: 13px;
  BORDER-BOTTOM: #b1b1b1 1px dashed;
  TEXT-ALIGN: center;
}
.zc_gbtp A {
  MARGIN: 0px 10px;
  COLOR: #000;
  TEXT-DECORATION: underline;
}
.zc_gbtp A:hover {
  COLOR: #ba0000;
}
.zc_gbed {
  PADDING-RIGHT: 0px;
  PADDING-LEFT: 10px;
  PADDING-BOTTOM: 20px;
  LINE-HEIGHT: 20px;
  PADDING-TOP: 10px;
}
.con {
  WIDTH: 1002px;
  POSITION: relative;
}
.tc_bd {
  Z-INDEX: 100;
  LEFT: 0px;
  WIDTH: 748px;
  POSITION: absolute;
  TOP: 0px;
}
.tc_obd {
  Z-INDEX: 100;
  LEFT: 0px;
  WIDTH: 748px;
  POSITION: absolute;
  TOP: 0px;
}
.tc_a {
  LEFT: 4px;
  WIDTH: 744px;
  POSITION: absolute;
  TOP: 5px;
  HEIGHT: 364px;
}
.tc_oa {
  BACKGROUND: #97abc5;
  LEFT: 4px;
  WIDTH: 744px;
  POSITION: absolute;
  TOP: 5px;
  HEIGHT: 364px;
}
.tc_b {
  PADDING-RIGHT: 10px;
  PADDING-LEFT: 10px;
  Z-INDEX: 100;
  PADDING-BOTTOM: 10px;
  WIDTH: 722px;
  PADDING-TOP: 10px;
  POSITION: absolute;
  HEIGHT: 342px;
}
.tc_ob {
  BORDER-RIGHT: #4f88d7 1px solid;
  PADDING-RIGHT: 10px;
  BORDER-TOP: #4f88d7 1px solid;
  PADDING-LEFT: 10px;
  Z-INDEX: 100;
  BACKGROUND: #daeaff;
  PADDING-BOTTOM: 10px;
  BORDER-LEFT: #4f88d7 1px solid;
  WIDTH: 722px;
  PADDING-TOP: 10px;
  BORDER-BOTTOM: #4f88d7 1px solid;
  POSITION: absolute;
  HEIGHT: 342px;
}
.tc_bin {
  BORDER-RIGHT: #bbbbbc 1px solid;
  PADDING-RIGHT: 6px;
  BORDER-TOP: #bbbbbc 1px solid;
  PADDING-LEFT: 6px;
  BACKGROUND: #fff;
  FLOAT: left;
  PADDING-BOTTOM: 0px;
  BORDER-LEFT: #bbbbbc 1px solid;
  WIDTH: 708px;
  PADDING-TOP: 0px;
  BORDER-BOTTOM: #bbbbbc 1px solid;
  HEIGHT: 340px;
}
.tc_obin {
  BORDER-RIGHT: #bbbbbc 1px solid;
  PADDING-RIGHT: 6px;
  BORDER-TOP: #bbbbbc 1px solid;
  PADDING-LEFT: 6px;
  BACKGROUND: #fff;
  FLOAT: left;
  PADDING-BOTTOM: 0px;
  BORDER-LEFT: #bbbbbc 1px solid;
  WIDTH: 708px;
  PADDING-TOP: 0px;
  BORDER-BOTTOM: #bbbbbc 1px solid;
  HEIGHT: 340px;
}
.tc_btp {
  PADDING-RIGHT: 0px;
  PADDING-LEFT: 10px;
  FONT-WEIGHT: bold;
  PADDING-BOTTOM: 5px;
  COLOR: #0555a8;
  PADDING-TOP: 8px;
}
.tc_btp A {
  COLOR: red;
}
.tc_bin DIV {
  FLOAT: left;
}
.tc_bin EM {
  COLOR: red;
  FONT-STYLE: normal;
}
.tc_tda {
  BACKGROUND: #c0c0c0;
  FLOAT: left;
  MARGIN-BOTTOM: 22px;
  WIDTH: 100%;
}
.tc_tda TD {
  PADDING-RIGHT: 0px;
  PADDING-LEFT: 0px;
  PADDING-BOTTOM: 5px;
  PADDING-TOP: 5px;
}
.tc_tda DIV {
  PADDING-RIGHT: 2px;
  PADDING-LEFT: 0px;
  FLOAT: left;
  PADDING-BOTTOM: 0px;
  WIDTH: 118px;
  PADDING-TOP: 4px;
  TEXT-ALIGN: right;
}
.tc_tda SPAN {
  PADDING-LEFT: 10px;
  COLOR: #4c4c4c;
  padding-top: 4px;
  float: left;
}
.tc_bai {
  BACKGROUND: #fff;
}
.tc_hui {
  BACKGROUND: #f7f7f7;
}
.fortc {
  PADDING-RIGHT: 0px;
  PADDING-LEFT: 0px;
  PADDING-BOTTOM: 0px;
  PADDING-TOP: 0px;
}
.tc_oa {
  WIDTH: 664px;
  HEIGHT: 220px;
}
.tc_ob {
  WIDTH: 642px;
  HEIGHT: 200px;
}
.tc_obin {
  WIDTH: 628px;
  PADDING-TOP: 20px;
  HEIGHT: 155px;
}
.tc_obd {
  LEFT: 168px;
}
.tc_obin P {
  PADDING-RIGHT: 88px;
  PADDING-LEFT: 0px;
  FONT-WEIGHT: bold;
  FONT-SIZE: 14px;
  FLOAT: right;
  PADDING-BOTTOM: 0px;
  WIDTH: 530px;
  PADDING-TOP: 18px;
  TEXT-ALIGN: right;
}
.tc_obin P B {
  COLOR: red;
}
.tc_obk {
  WIDTH: 100%;
  TEXT-ALIGN: right;
}
.tc_obk IMG {
  MARGIN: 0px 10px 5px 0px;
}
.text {
  PADDING-LEFT: 6px;
}
.fornew {
  width: 835px;
}
.pj_hebin {
  background: #4F88D6;
}
.pj_hebin td {
  background: white;
  line-height: 25px;
}
.pj_blod {
  height: 25px;
  COLOR: #039;
}
.pj_blod img {
  margin: 7px 0px 0px 3px;
  vertical-align: middle;
  float: left;
}
.pj_blod span {
  line-height: 25px;
  vertical-align: middle;
  float: left;
}
h2 {
  text-align: center;
  margin: 20px 0;
}
